# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Temporary folders created by scripts
temp/
tmp/

#ignore mongo volumes folders
data/